<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<script>
    $('#lightMode').hide()
    // 1 = darkMode
    // -1 =  LightMode
    $('#darkMode').on('click', darkSwitch)
    
    function darkSwitch() {               
                $('body').css('backgroundColor','black')
                $('body').css('color','white')
                $('h6').css('color', 'black')
                $('.btn-close').addClass('btn-close-white')
                $('.category').css("color", "white")
                $('.card').css("backgroundColor",'black')
                $('.cardForm').css("border", "2px solid")
                $('.cardForm').css("border-radius", "10px")
                $('.button-28').css("backgroundColor","black")
                $('.button-28').css("color","white")
                $('#darkMode').hide()
                $('#lightMode').show()                   
                mode = 1
                sessionStorage.setItem("pageMode", `${mode}`)                   
            }

            $('#lightMode').on('click', lightSwitch)
            
            function lightSwitch() {
                $('body').css('backgroundColor', 'white')
                $('body').css('color','black')
                $('.card').css("backgroundColor",'white')
                $('.btn-close').removeClass('btn-close-white')
                $('.category').css("color", "black")
                $('.cardForm').css("border", "1px solid lightgray") //border: 2px solid lightgray;
                $('.button-28').css("backgroundColor","white")
                $('.button-28').css("color","black")
                $('#lightMode').hide()
                $('#darkMode').show()
                val = -1
                sessionStorage.setItem("pageMode", `${val}`)    
        }
        function setMode() {
        if (sessionStorage.pageMode == 1) {
            darkSwitch()
     } else if (sessionStorage.pageMode == -1) {
            lightSwitch()
     }
    }
    setMode()
</script>

</body>
</html>