
<%- include('./partials/header') %>
<div class="mt-5 title text-center">
    <p class="display-1"><%= title %></p>
    <p class="lead">Welcome to <%= title %></p>
</div>
<%- include('./partials/footer') %>