<%- include('../partials/header') %>

    <h1 class= "text-center mt-4 mb-2 display-4">Feed</h1>
    <div class= "text-center m-3">
    <a href="/posts/new"><button class="btn btn-primary btn-lg">Add Post</button></a> 
    </div>
    <% post.forEach(function(p) { %>
    <ul>
  <div class="card text-start mx-auto col-sm-2" >
  <div class="card-header">
    Category
  </div>
  <div class="card-body">
    <h3 class="card-title"><%= p.title %></h3>
    <p class="card-text lead"><%- p.details %></p>
    <a href="#" class="btn btn-outline-primary">View Full Post</a>
  </div>
</div>
    </ul>
    <% }) %>
      
      <!-- <script>
        $('.nav-item').class('active')
      </script> -->

<%- include('../partials/footer') %>