<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
</head>
<body>
    <h1>Add a new Post</h1>
    <form action='/posts' method="POST">
        <input type="text" name="title">
        <br>
        <textarea name="details"></textarea>
        <br>
        <a href="/posts"><button type="submit">Submit Post</button></a>
    </form>
</body>
</html>