<%- include('../partials/header') %>
    <h1 class="text-center display-3 m-4">Add a Post</h1>
    <section>
        <div class="container">         
          <!-- <div class="alert alert-warning text-center my-4">Alert Warning</a>
          </div> -->         
          <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-8 col-xl-6">
              <div class="row">
                <div class="col text-center">
                  <h1 class="mb-3">New Post</h1>
                  <p class="text-h3">Create a new post by adding a category, title, and detailed question!</p>
                </div>
              </div>
              <form action='/posts' method="POST">
              <div class="row align-items-center">
                <label for="cars">Choose a car:</label>
                <select name="category" id="category">
                  <option value="Coding Question">Coding Question</option>
                  <option value="Tips/Tricks">Tips/Tricks</option>
                  <option value="Misc">Misc</option>
                </select>

                <div class="col mt-2">
                  <input type="text" class="form-control" placeholder="Title" name="title">
                </div>
              </div>
              <div class="row align-items-center mt-4">
                <div class="col">
                    <div class="form-outline">
                        <textarea class="form-control" id="textAreaExample1" rows="4" placeholder="Enter your detailed question" name="details"></textarea>
                      </div>
                </div>
              </div>
              <div class="row justify-content-start mt-1">
                <div class="col">    
                  <a href="/posts"><button class="btn btn-primary mt-4" type="submit">Submit Post</button></a>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

<%- include('../partials/footer') %>